<img class="image-back" src="assets/image/back.png" />


<div class="container ">

    <div class="row row-data">

        <div class="col-6 mb-2 mt-4 ">

            <div class="row ">
                <div class="col text-center">
                    <span class="text-welcome">Welcome To</span>
                </div>
            </div>

            <div class="row">
                <div class="col text-center">
                    <b><span class="text-welcome">Here Jong</span></b>
                </div>
            </div>
        </div>


        <div class="col-md-12 mb-5 text-right">

            <b><span class="text-welcome">วิธีการใช้งาน</span></b>

        </div>

    </div>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b>1. สมัครสมาชิก</b>
                </mat-panel-title>

            </mat-expansion-panel-header>

            <span class=""> คลิกที่เมนู <b>สมัครสมาชิก</b>  </span>

            <img class="intro-image mt-3 mb-3" src="assets/image/intro1.jpg" />

            <span>กรอกรายละเอียดให้ครบถ้วน จากนั้นกดปุ่ม <b>สมัครสมาชิก</b></span>

            <img class="intro-image mt-3" src="assets/image/intro2.jpg" />

            <p></p>




        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b>2. เพิ่มคนขับรถ</b>
                </mat-panel-title>

            </mat-expansion-panel-header>

            <span class=""> ก่อนที่จะเพิ่ม <b>สินค้า</b> ให้เพิ่ม <b>คนขับรถ</b> ก่อนโดยคลิกที่เมนู  <b>คนขับรถ</b> </span>

            <img class="intro-image mt-3 mb-3" src="assets/image/intro3.jpg" />

            <span>จากนั้นกดปุ่ม <b>เครื่องหมายบวก</b> ตรงมุมล่างขวา</span>

            <img class="intro-image mt-3  mb-3" src="assets/image/intro4.jpg" />

            <span>กรอกรายละเอียดให้ครบถ้วน จากนั้นกดปุ่ม <b>ยืนยัน</b></span>

            <img class="intro-image mt-3  mb-3" src="assets/image/intro5.jpg" />

        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b>3. เพิ่มรายการสินค้า</b>
                </mat-panel-title>

            </mat-expansion-panel-header>

            <span class=""> เมื่อเพิ่ม <b>คนขับรถ</b> สำเร็จ จึงสามารถเพิ่ม <b>สินค้า</b> ได้โดยคลิกที่เมนู <b>สินค้า</b> </span>

            <img class="intro-image mt-3 mb-3" src="assets/image/intro6.jpg" />

            <span>จากนั้นกดปุ่ม <b>เครื่องหมายบวก</b> ตรงมุมล่างขวา</span>

            <img class="intro-image mt-3  mb-3" src="assets/image/intro7.jpg" />

            <span>กรอกรายละเอียดให้ครบถ้วน จากนั้นกดปุ่ม <b>ยืนยัน</b></span>

            <img class="intro-image mt-3  mb-3" src="assets/image/intro8.jpg" />
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b>4. ขั้นตอนการเสนอราคา</b>
                </mat-panel-title>

            </mat-expansion-panel-header>
            <span class=""> เมื่อเพิ่ม <b>คนขับรถ</b> และ <b>สินค้า</b> สำเร็จ ให้รอลูกค้ามาเช่าสินค้าของท่าน โดยระบบจะแจ้งเตือนมายัง Line ของท่าน จะแจ้งเตือนดังภาพด้านล่าง<br></span>


            <img class="intro-image mt-3 mb-3" src="assets/image/intro9.jpg" />

            <span>ถ้าท่านสนใจปล่อยเช่าตามวันเวลาที่ลูกค้าเสนอมา ให้คลิกที่ปุ้ม <b>เสนอราคา กรอกรายละเอียดให้ครบถ้วน โดย Here Jong คิดค่าธรรมเนียม 10% ขอแนะนำให้ท่านบวกราคาที่เสนอไป 10%</b> ตรวจสอบรายละเอียดให้ครบถ้วน จากนั้นกดปุ่ม <b>เสนอราคา</b> </span>

            <img class="intro-image mt-3  mb-3" src="assets/image/intro10.jpg" />

            <span>เมื่อท่าน <b>เสนอราคา</b> สำเร็จ ให้รอการตอบรับจากลูกค้า ถ้าลูกค้าสนใจข้อเสนอ ระบบจะส่งแจ้งเตือนมาให้ท่าน <b>ยืนยันข้อเสนอ</b> ดังภาพด้านล่าง</span>

            <img class="intro-image mt-3  mb-3" src="assets/image/intro11.jpg" />

            <span>เมื่อท่าน <b>ยืนยัน</b> ข้อเสนอ ก็เป็นการเสร็จสินการเช่า ให้ท่านส่งสินค้าไปตามวันเวลาที่นัดหมาย</span>

            <img class="intro-image mt-3  mb-3" src="assets/image/intro12.jpg" />

            <span>โดยท่านสามารถดูรายละเอียดการเช่าได้ที่เมนู  <b>รายการของฉัน</b> </span>


        </mat-expansion-panel>
    </mat-accordion>

</div>