/* You can add global styles to this file, and also import other style files */


/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body,
html {
    height: 100%;
}

* {
    font-family: 'Prompt', sans-serif;
}

body {
    font-family: 'Prompt', sans-serif;
}

