.fa-plus {
    position: fixed;
    color: black;
    background-color: #FFEB3B;
    padding-left: 15px;
    padding-top: 12px;
    padding-right: 15px;
    padding-bottom: 12px;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    margin: 20px;
}

.container-x {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    position: absolute;
    max-width: 100%;
    height: 100%;
    background-color: #fafafa;
    left: 0;
    top: 0;
}

.driver-text {
    font-size: 20px;
    font-weight: 900;
}

.card {
    border-radius: 30px;
    box-shadow: 2px 3px 4px 1px rgba(118, 118, 118, 0.24);
}

.productSize {
    font-size: 16px;
    font-weight: bold;
}

.carRegis {
    font-size: 15px;
    color: #777;
}

.carRegis-text {
    font-size: 15px;
    color: #555;
}

.driver {
    font-size: 14px;
    color: #777;
}

.text-driver {
    font-size: 14px;
    color: #555;
}

.black-background {
    background-color: #FFDE03;
    border: 1px solid #FFDE03;
    height: 45px;
    width: 45%;
    border-radius: 30px;
    font-size: 20px;
    color: black;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    cursor: pointer;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.24), 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
}

.black-background:hover {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.24), 2px 2px 4px 2px rgba(0, 0, 0, 0.19);
    background-color: #FFDE03;
}

.edit-background {
    background-color: #FFDE03;
    border: 1px solid #FFDE03;
    height: 45px;
    width: 100%;
    border-radius: 30px;
    font-size: 20px;
    color: black;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    cursor: pointer;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.24), 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
}

.black-background:hover {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.24), 2px 2px 4px 2px rgba(0, 0, 0, 0.19);
    background-color: #FFDE03;
}

.cancel-background {
    margin-right: 15px;
    background-color: black;
    border: 1px solid black;
    height: 45px;
    width: 45%;
    border-radius: 30px;
    font-size: 20px;
    color: white;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    cursor: pointer;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.24), 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
}

.cancel-background:hover {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.24), 2px 2px 4px 2px rgba(0, 0, 0, 0.19);
    background-color: black;
}

.mat-typography {
    font-family: 'Prompt', sans-serif;
}

.fa-icon {
    font-size: 25px;
}

.fa-iamge {
    font-size: 100px;
}

.fa-iamge-upload {
    bottom: 0;
    font-size: 20px;
    position: absolute;
}

.mat-error-info {
    font-size: 13px;
}

mat-form-field {
    width: 100%;
}

mat-error {
    text-align: end;
}

.matPrefix {
    margin-right: 15px;
    margin-left: 8px;
    color: #777;
    font-size: 25px;
}

:host ::ng-deep .mat-form-field-outline-start {
    border-radius: 0px !important;
}

:host ::ng-deep .mat-form-field-outline-gap {
    border-radius: 0px !important;
}

:host ::ng-deep .mat-form-field-outline-end {
    border-radius: 0px !important;
}

:host ::ng-deep .mat-form-field-outline {
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.24);
}

.image-mach {
    width: 100%;
    height: 60px;
    border-radius: 10px;
}

.img-upload {
    width: 100%;
    height: 280px;
    border-radius: 1%;
}

.hoverable {
    position: relative;
    display: block;
    cursor: pointer;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.24);
}

.hover-text {
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
}

.hover-remove {
    position: absolute;
    padding: 5px;
    background-color: red;
    width: 40px;
    border-radius: 3px;
    color: #fff;
    top: 3%;
    left: 80%;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
}

.hover-remove:hover {
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.24);
}

.hoverable:hover .hover-text {
    visibility: visible;
    opacity: 1;
}

.hoverable:hover .img-upload {
    opacity: 0.2;
    transition: all 0.3s;
}

.hover-filename {
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
}

.dropDrag {
    color: #444;
    font-size: 12px;
}

.filename {
    font-size: 16px;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.hoverable:hover .hover-filename {
    visibility: visible;
    opacity: 1;
}

.hoverable:hover .hover-remove {
    visibility: visible;
    opacity: 1;
}

#customFile {
    display: none;
}

.col-image {
    border-radius: 20px;
    padding-top: 20px;
    margin: 15px;
    border: 3px dashed #bbbbbb;
}

.product-lable {
    font-size: 16px;
    font-weight: bold;
    top: -18px;
    position: absolute;
    padding: 6px;
    background-color: white;
}

.card-img-top {
    border-radius: 30px;
    height: 200px;
}

.left-text {
    color: #777;
}

.right-text {
    font-weight: bold;
}

.horizontal {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.clip {
    margin-bottom: 8px;
    margin-right: 8px;
    border-radius: 10px;
    padding: 5px;
    background-color: #ccc;
    color: black;
    text-align: center;
    vertical-align: middle;
}

.mat-dialog-actions {
    padding-top: 10px;
    padding-bottom: 20px;
}

.black-warning {
    margin-right: 15px;
    background-color: #B71C1C;
    border: 0px solid #B71C1C;
    color: white;
    height: 45px;
    width: 45%;
    border-radius: 30px;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    cursor: pointer;
    box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.24), 2px 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.black-warning:hover {
    box-shadow: 2px 7px 10px 0 rgba(0, 0, 0, 0.24), 2px 7px 10px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(209, 43, 43);
}
.fa-times{
    color: #777777;
    font-size: 25px;
}


.multiselect-dropdown .dropdown-btn {
    display: inline-block!important;
    width: 100%!important;
    border-radius: 0px !important;
    background-color: white;
    line-height: 2.5 !important;
    box-shadow: 2px 4px 8px -5px rgb(135, 135, 135)!important;
    cursor: pointer!important;
    text-align: left!important;
    border: 1px solid #dddddd !important;
    vertical-align: middle!important;
}

.multiselect-dropdown .dropdown-btn .selected-item {
   
    float: left!important;
    margin-bottom: 8px!important;
    margin-right: 8px!important;
    border-radius: 10px!important;
    padding-left: 5px!important;
    color: white!important;
    text-align: center!important;
    vertical-align: middle!important;
   
  }

  .multiselect-dropdown .dropdown-btn .selected-item:hover {
    box-shadow: 1px 1px #959595;
  }

  .multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret {
    line-height: 16px!important;
    display: block!important;
    position: absolute!important;
    box-sizing: border-box!important;
    width: 40px!important;
    height: 38px!important;
    right: 1px!important;
    top: 6px!important;
    padding: 4px 8px!important;
    margin: 0!important;
    text-decoration: none!important;
    text-align: center!important;
    cursor: pointer!important;
    transition: transform 0.2s ease!important;
}
.multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret:before {
    position: relative!important;
    right: 0!important;
    top: 70%!important;
    color: #999!important;
    margin-top: 4px!important;
    border-style: solid!important;
    border-width: 8px 8px 0 8px!important;
    border-color: #999 transparent!important;
    content: ""!important;

}
.multiselect-dropdown .dropdown-btn .dropdown-multiselect--active .dropdown-multiselect__caret {
    transform: rotateZ(180deg)!important;
}


