<img class="image-back" src="assets/image/back.png" />


<div class="container ">

    <div class="row row-data">

        <div class="col-6 mb-2 mt-4 ">

            <div class="row ">
                <div class="col text-center">
                    <span class="text-welcome">Welcome To</span>
                </div>
            </div>

            <div class="row">
                <div class="col text-center">
                    <b><span class="text-welcome">Here Jong</span></b>
                </div>
            </div>
        </div>


        <div class="col-md-12 mb-5 text-right">

            <b><span class="text-welcome">วิธีการใช้งาน</span></b>

        </div>

    </div>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b>1. เลือกกลุ่มสินค้า</b>
                </mat-panel-title>

            </mat-expansion-panel-header>

            <span class=""> คลิกที่เมนู <b>เช่าเครื่องจักร</b>  หรือ <b>เช่ารถบรรทุก</b></span>

            <img class="intro-image mt-3 mb-3" src="assets/image/intro13.jpg" />

            <span>กรอกรายละเอียดให้ครบถ้วน จากนั้นกดปุ่ม <b>ยืนยันรายการ</b></span>

            <img class="intro-image mt-3" src="assets/image/intro14.jpg" />

            <p></p>




        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b>2. รอการเสนอราคา</b>
                </mat-panel-title>

            </mat-expansion-panel-header>

            <span class=""> เมื่อกรอกข้อมูลการเช่าสินค้าเสร็จ ให้รอ Supplier เสนอราคา เมื่อมีข้อเสนอมา จะขึ้นดังภาพด้านล่าง  </span>

            <img class="intro-image mt-3 mb-3" src="assets/image/intro15.jpg" />

            <span>เลือกข้อเสนอที่ท่านสนใจ จากนั้นกดปุ่ม <b>รับข้อเสนอ</b> แล้วรอการยืนยันจาก Supplier</span>

        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b>3. ชำระเงิน</b>
                </mat-panel-title>

            </mat-expansion-panel-header>

            <span class=""> เมื่อเพิ่ม Supplier ยืนยัน จะขึ้นให้ท่านชำระเงินดังภาพด้านล่าง </span>

            <img class="intro-image mt-3 mb-3" src="assets/image/intro16.jpg" />

            <span>เมื่อชำระเงินเสร็จสิ้น ให้ส่งสลิปกลับมาที่ Line OA สินค้าจะถูกจัดส่งไปยังสถานที่ที่ท่านให้ข้อมูลไว้</span>

          
        </mat-expansion-panel>

      
    </mat-accordion>

</div>