<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>

<img class="image-back" src="assets/image/back.png" />

<div class="container">

    <div class="text-center">

        <div class="row ">
            <div class="col-6 mb-2 mt-4 ">

                <div class="row ">
                    <div class="col text-center">
                        <span class="text-welcome">Welcome To</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <b><span class="text-welcome">Here Jong</span></b>
                    </div>
                </div>
            </div>


            <div class="col-md-12 mb-5 text-right">

                <b><span class="text-welcome">เครื่องจักร</span></b>

            </div>
            <div class="col-md-12">

                <mat-horizontal-stepper linear #stepper>
                    <mat-step [stepControl]="firstFormGroup">
                        <form [formGroup]="firstFormGroup">
                            <ng-template matStepLabel>1
                            </ng-template>

                            <mat-form-field class="mt-2" appearance="outline">
                                <mat-label>สถานที่ใช้งาน</mat-label>
                                <input class="rdonly" (click)="onOpenMap()" matInput formControlName="namePlace"
                                    placeholder="" autocomplete="off" [errorStateMatcher]="matcher" readonly>

                                <mat-error *ngIf="firstFormGroup.get('namePlace').hasError('required')">
                                    กรุณาเลือกสถานที่
                                </mat-error>

                            </mat-form-field>


                            <mat-form-field appearance="outline">
                                <mat-label>จังหวัด</mat-label>
                                <mat-select formControlName="province" disabled>
                                    <mat-option *ngFor="let province of province" [value]="province.name">
                                        {{province.name}}
                                    </mat-option>
                                </mat-select>

                                <mat-error *ngIf="firstFormGroup.get('province').hasError('required')">
                                    กรุณาเลือกสถานที่
                                </mat-error>
                            </mat-form-field>


                            <div class="row mt-2">

                                <div class="col-md-12 text-center">
                                    <button matStepperNext class="btn black-background" type="submit">
                                        <span> ยืนยัน </span> </button>

                                </div>
                            </div>

                        </form>
                    </mat-step>


                    <mat-step [stepControl]="secondFormGroup">
                        <form [formGroup]="secondFormGroup" (ngSubmit)="onSave()">
                            <ng-template matStepLabel>
                            </ng-template>

                            <div class="row mt-2">
                                <div class="col-md-12">
                                    <b><span class="driver-text">ประเภทเครื่องจักร</span></b>
                                </div>

                            </div>
                            <div class="row mt-1 mb-2">
                                <div class="col-md-12 text-center">
                                    <div *ngFor="let category of category" class="row pane mb-2"
                                        (click)="selectType(category.categoryName,category.categoryId)"
                                        [class.active]="category.categoryName === value">

                                        <div class="col text-center">
                                            <img class="image-cate" src="assets/image/{{category.categoryId}}.jpg" />
                                        </div>
                                        <div class="col align-self-center text-center">
                                            <span><b>{{category.categoryName }}</b></span>

                                        </div>
                                        <i class="fa fa-check-circle-o icon fa-2x"
                                            [class.icon-active]="category.categoryName === value"
                                            aria-hidden="true"></i>

                                    </div>
                                </div>
                            </div>


                            <div class="row mt-3">

                                <div class="col-md-12 text-center">
                                    <button type="button" class="btn btn-secondary cancel-background mb-2 mt-2"
                                        matStepperPrevious>ก่อนหน้า</button>
                                    <button matStepperNext class="btn black-background" type="submit">
                                        <span> ยืนยัน </span> </button>

                                </div>
                            </div>

                        </form>

                    </mat-step>

                    <mat-step [stepControl]="threeFormGroup">
                        <form [formGroup]="threeFormGroup" (ngSubmit)="onSaveProduct()">
                            <ng-template matStepLabel>
                            </ng-template>
                            <div class="row mt-2">
                                <div class="col-md-12">
                                    <b><span class="driver-text">ขนาดเครื่องจักร</span></b>
                                </div>

                            </div>
                            <div class="row mt-1 mb-2" *ngIf="product">
                                <div class="col-md-12">
                                    <div *ngFor="let product of product" class="row pane"
                                        (click)="selectTypeProduct(product.productName)"
                                        [class.active]="product.productName === valueProduct">

                                        <div class="col text-center">
                                            <img class="image-cate" src="assets/image/{{product.productId}}.jpg" />
                                        </div>
                                        <div class="col align-self-center text-center">
                                            <span><b>{{product.productName }}</b></span>

                                        </div>
                                        <i class="fa fa-check-circle-o icon fa-2x"
                                            [class.icon-active]="product.productName === valueProduct"
                                            aria-hidden="true"></i>

                                    </div>
                                </div>


                            </div>
                            <div class="row mt-3">

                                <div class="col-md-12 text-center">
                                    <button type="button" class="btn btn-secondary cancel-background mb-2 mt-2"
                                        matStepperPrevious>ก่อนหน้า</button>
                                    <button matStepperNext class="btn black-background" type="submit">
                                        <span> ยืนยัน </span> </button>

                                </div>
                            </div>
                        </form>

                    </mat-step>

                    <mat-step [stepControl]="fourFormGroup">
                        <form [formGroup]="fourFormGroup">
                            <ng-template matStepLabel>
                            </ng-template>

                            <mat-form-field class="mt-2" color="accent" appearance="outline">
                                <mat-label>วันที่เริ่มทำงาน</mat-label>
                                <input (click)="onOpen()" matInput formControlName="dateStart" [min]="minDate"
                                    [matDatepicker]="picker2" readonly>
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker2 color="primary"></mat-datepicker>
                                <mat-error *ngIf="fourFormGroup.get('dateStart').hasError('required')">
                                    กรุณาเลือกวันที่เริ่มทำงาน
                                </mat-error>
                            </mat-form-field>


                            <mat-form-field appearance="outline">
                                <mat-label>เวลาเริ่มงาน</mat-label>
                                <input class="rdonly" (click)="onOpenTimeStart()" matInput formControlName="timeStart"
                                    placeholder="" autocomplete="off" [errorStateMatcher]="matcher" readonly>

                                <mat-error *ngIf="fourFormGroup.get('timeStart').hasError('required')">
                                    กรุณาเลือกเวลาเริ่มงาน
                                </mat-error>

                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>จำนวนวันที่ต้องการใช้งาน</mat-label>
                                <input class="rdonly" (click)="onOpenNumberDay()" matInput formControlName="numberDay"
                                    placeholder="" autocomplete="off" [errorStateMatcher]="matcher" readonly>

                                <mat-error *ngIf="fourFormGroup.get('numberDay').hasError('required')">
                                    กรุณาจำนวนวันที่ต้องการใช้งาน
                                </mat-error>

                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>เบอร์โทร</mat-label>
                                <input autocomplete="off" class="rdonly" matInput formControlName="phone" placeholder=""
                                    autocomplete="off" [errorStateMatcher]="matcher">

                                <mat-error *ngIf="fourFormGroup.get('phone').hasError('required')">
                                    กรุณากรอกเบอร์โทร
                                </mat-error>
                                <mat-error *ngIf="fourFormGroup.get('phone').hasError('pattern')">
                                    กรุณากรอกเป็นตัวเลข
                                </mat-error>

                            </mat-form-field>

                            <div class="row mt-3">

                                <div class="col-md-12 text-center">
                                    <button type="button" class="btn btn-secondary cancel-background mb-2 mt-2"
                                        matStepperPrevious>ก่อนหน้า</button>
                                    <button matStepperNext class="btn black-background" type="submit">
                                        <span> ยืนยัน </span> </button>

                                </div>
                            </div>
                        </form>

                    </mat-step>

                    <mat-step [stepControl]="fiveFormGroup">
                        <form [formGroup]="fiveFormGroup" (ngSubmit)="onConfirm()">
                            <ng-template matStepLabel>
                            </ng-template>



                            <div class="row mt-2 mb-2">
                                <div class="col-md-12">
                                    <b><span class="driver-text">รายละเอียดหน้างาน (ถ้ามี)</span></b>
                                </div>

                            </div>


                            <div class="row">

                                <div class="col-md-12">
                                    <mat-form-field appearance="outline">
                                        <mat-label>รายละเอียดงาน (ถ้ามี)</mat-label>
                                        <textarea formControlName="workDetail" rows="6" matInput
                                            placeholder="ตัวอย่าง เช่น ..."></textarea>
                                    </mat-form-field>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12 col-image ">
                                    <label class="product-lable">รูปภาพหน้างาน (ถ้ามี)</label>

                                    <div class="row mb-2">
                                        <div class="col-6 mb-2" *ngIf="url">

                                            <img alt="User Pic" [src]="url" class="img-upload">

                                        </div>
                                        <div class="col-6 mb-2" *ngIf="url2">

                                            <img alt="User Pic" [src]="url2" class="img-upload">

                                        </div>

                                        <div class="col-6 mb-2" *ngIf="url3">

                                            <img alt="User Pic" [src]="url3" class="img-upload">

                                        </div>

                                        <div class="col-6 mb-2" *ngIf="url4">

                                            <img alt="User Pic" [src]="url4" class="img-upload">

                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-12 mb-2">

                                            <button (click)="onUploadImage()" type="button" class="btn btn-success"><i
                                                    class="fa fa-plus-circle" aria-hidden="true"></i>
                                                เพิ่มรูปภาพ</button>


                                        </div>

                                    </div>


                                </div>
                            </div>

                            <div class="row mt-3">

                                <div class="col-md-12 text-center">
                                    <button matStepperNext class="btn black-background" type="submit">
                                        <span> ยืนยัน </span> </button>

                                </div>
                            </div>


                        </form>

                    </mat-step>

                </mat-horizontal-stepper>

            </div>
        </div>
    </div>
</div>

<!--<div class="container">
    <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
        <div class="text-center">

            <div class="row ">
                <div class="col-6 mb-2 mt-4 ">

                    <div class="row ">
                        <div class="col text-center">
                            <span class="text-welcome">Welcome To</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <b><span class="text-welcome">Here Jong</span></b>
                        </div>
                    </div>
                </div>


                <div class="col-md-12 mb-3 text-right">

                    <b><span class="text-welcome">เครื่องจักร</span></b>

                </div>
                <div class="col-md-12">

                    <mat-form-field appearance="outline">
                        <mat-label>สถานที่ใช้งาน</mat-label>
                        <input class="rdonly" (click)="onOpenMap()" matInput formControlName="namePlace" placeholder="" autocomplete="off" [errorStateMatcher]="matcher" readonly>

                        <mat-error *ngIf="dataForm.get('namePlace').hasError('required')">
                            กรุณาเลือกสถานที่
                        </mat-error>

                    </mat-form-field>


                    <mat-form-field appearance="outline">
                        <mat-label>จังหวัด</mat-label>
                        <mat-select formControlName="province" disabled>
                            <mat-option *ngFor="let province of province" [value]="province.name">
                                {{province.name}}
                            </mat-option>
                        </mat-select>

                        <mat-error *ngIf="dataForm.get('province').hasError('required')">
                            กรุณาเลือกสถานที่
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>ประเภทเครื่องจักร</mat-label>
                        <input class="rdonly" (click)="onCategory()" matInput formControlName="nameCategory" placeholder="" autocomplete="off" [errorStateMatcher]="matcher" readonly>

                        <mat-error *ngIf="dataForm.get('nameCategory').hasError('required')">
                            เลือกประเภทเครื่องจักร
                        </mat-error>

                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>ขนาดเครื่องจักร</mat-label>
                        <input class="rdonly" (click)="onCategorySize()" matInput formControlName="sizeCategory" placeholder="" autocomplete="off" [errorStateMatcher]="matcher" readonly>

                        <mat-error *ngIf="dataForm.get('sizeCategory').hasError('required')">
                            เลือกขนาดเครื่องจักร
                        </mat-error>

                    </mat-form-field>

                    <mat-form-field color="accent" appearance="outline">
                        <mat-label>วันที่เริ่มทำงาน</mat-label>
                        <input (click)="onOpen()" matInput formControlName="dateStart" [min]="minDate" [matDatepicker]="picker2" readonly>
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker2 color="primary"></mat-datepicker>
                        <mat-error *ngIf="dataForm.get('dateStart').hasError('required')">
                            กรุณาเลือกวันที่เริ่มทำงาน
                        </mat-error>
                    </mat-form-field>


                    <mat-form-field appearance="outline">
                        <mat-label>เวลาเริ่มงาน</mat-label>
                        <input class="rdonly" (click)="onOpenTimeStart()" matInput formControlName="timeStart" placeholder="" autocomplete="off" [errorStateMatcher]="matcher" readonly>

                        <mat-error *ngIf="dataForm.get('timeStart').hasError('required')">
                            กรุณาเลือกเวลาเริ่มงาน
                        </mat-error>

                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>จำนวนวันที่ต้องการใช้งาน</mat-label>
                        <input class="rdonly" (click)="onOpenNumberDay()" matInput formControlName="numberDay" placeholder="" autocomplete="off" [errorStateMatcher]="matcher" readonly>

                        <mat-error *ngIf="dataForm.get('numberDay').hasError('required')">
                            กรุณาจำนวนวันที่ต้องการใช้งาน
                        </mat-error>

                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>เบอร์โทร</mat-label>
                        <input autocomplete="off" class="rdonly" matInput formControlName="phone" placeholder="" autocomplete="off" [errorStateMatcher]="matcher">

                        <mat-error *ngIf="dataForm.get('phone').hasError('required')">
                            กรุณากรอกเบอร์โทร
                        </mat-error>
                        <mat-error *ngIf="dataForm.get('phone').hasError('pattern')">
                            กรุณากรอกเป็นตัวเลข
                        </mat-error>

                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>รายละเอียดงาน (ถ้ามี)</mat-label>
                        <textarea formControlName="workDetail" rows="6" matInput placeholder="ตัวอย่าง เช่น ..."></textarea>
                    </mat-form-field>




                </div>

                <div class="col-md-12 col-image ">
                    <label class="product-lable">รูปภาพหน้างาน (ถ้ามี)</label>

                    <div class="row mb-2">
                        <div class="col-6 mb-2" *ngIf="url">

                            <img alt="User Pic" [src]="url" class="img-upload">

                        </div>
                        <div class="col-6 mb-2" *ngIf="url2">

                            <img alt="User Pic" [src]="url2" class="img-upload">

                        </div>

                        <div class="col-6 mb-2" *ngIf="url3">

                            <img alt="User Pic" [src]="url3" class="img-upload">

                        </div>

                        <div class="col-6 mb-2" *ngIf="url4">

                            <img alt="User Pic" [src]="url4" class="img-upload">

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-12 mb-2">

                            <button (click)="onUploadImage()" type="button" class="btn btn-success"><i class="fa fa-plus-circle" aria-hidden="true"></i>  เพิ่มรูปภาพ</button>


                        </div>

                    </div>


                </div>
               

            </div>


        </div>
    </form>
    <div class="row">
        <div class="col-md-12 button-submit">
            <div class="form-group text-center mt-3 mb-3">
        
                <button type="submit" class="btn black-background">ยืนยันรายการ</button>
            </div>
        
        </div>
    </div>
</div>
-->