<form [formGroup]="numberDayForm">



    <div mat-dialog-title class="mat-dialog-title">

        <div class="row justify-content-between">
            <div class="col-8">
                <b><span class="driver-text">จำนวนวันที่ต้องการใช้งาน</span></b>
            </div>
            <div class="col-4 text-right">
                <i class="fa fa-times" aria-hidden="true" mat-dialog-close></i>
            </div>
        </div>

    </div>
    <mat-dialog-content class="mat-typography">

        <div class="row">
            <div class="col-6">

                <div class="form-group text-right">
                    <select class="custom-select form-control" formControlName="day" [ngClass]="{ 'is-invalid': submitted && f.day.errors }">
                          <option  value="0.5">0.5</option>
                          <option  value="1">1</option>
                            <option  value="2">2</option>
                            <option  value="3">3</option>
                            <option  value="4">4</option>
                            <option  value="5">5</option>
                            <option  value="6">6</option>
                            <option  value="7">7</option>
                            <option  value="8">8</option>
                            <option  value="9">9</option>
                            <option  value="10">10</option>
                            <option  value="11">11</option>
                            <option  value="12">12</option>
                            <option  value="13">13</option>
                            <option  value="14">14</option>
                            <option  value="15">15</option>
                            <option  value="16">16</option>
                            <option  value="17">17</option>
                            <option  value="18">18</option>
                            <option  value="19">19</option>
                            <option  value="20">20</option>
                            <option  value="21">21</option>
                            <option  value="22">22</option>
                            <option  value="23">23</option>
                            <option  value="24">24</option>
                            <option  value="25">25</option>
                            <option  value="26">26</option>
                            <option  value="27">27</option>
                            <option  value="28">28</option>
                            <option  value="29">29</option>
                            <option  value="30">30</option>
                    </select>
                    <div *ngIf="submitted && f.day.errors" class="invalid-feedback">
                        <div *ngIf="f.day.errors.required">กรุณาจำนวนวันที่ต้องการใช้งาน</div>
                    </div>
                </div>


            </div>
            <div class="col-6">
                <div class="form-group text-right">
                    <select class="custom-select form-control" formControlName="unit" [ngClass]="{ 'is-invalid': submitted && f.unit.errors }">
                            <option  value="วัน">วัน</option>
                            <option  value="เดือน">เดือน</option>
                            <option  value="ปี">ปี</option>
                        </select>
                    <div *ngIf="submitted && f.unit.errors" class="invalid-feedback">
                        <div *ngIf="f.unit.errors.required">กรุณาหน่อย</div>
                    </div>
                </div>
            </div>

        </div>


    </mat-dialog-content>


    <mat-dialog-actions class="justify-content-center">


        <button class="btn btn-respon black-susess" (click)="onSave()">ยืนยัน</button>

    </mat-dialog-actions>
</form>