<div class="sidebar-wrapper">

    <div class="row mb-2">
        <div class="col">
            <span class="driver-text">รายการเช่า</span>
        </div>

    </div>

    <div class="product-sidebar">

        <div class="nav">

            <a [routerLink]="['rental-customer']" [routerLinkActive]="['router-link-active']" class="nav-link">
                กำลังเช่า</a>

            <a [routerLink]="['history']" [routerLinkActive]="['router-link-active']" class="nav-link">
                ประวัติการเช่า</a>

        </div>
    </div>
</div>