<!--footer starts from here-->
<footer class="footer">
    <div class="container bottom_border">
        <div class="row">



            <div class=" col-md-3 col-first">
                <h5 class="headin5_amrc col_white_amrc pt2">ABOUT US</h5>
                <!--headin5_amrc
                <img class="circle img-circle mb-4" src="assets/images/logo.jpg" width="70" height="70" alt="">
-->
                <p> Here Jong</p>

            </div>


            <div class=" col-md-3 col-two">
                <h5 class="headin5_amrc col_white_amrc pt2">QUICK LINKS</h5>
                <!--headin5_amrc-->
                <ul class="footer_ul_amrc">
                    <li><a href="" [routerLink]="['/home']">Home</a></li>
                    <!--    <li><a href="" [routerLink]="['/home/login']">{{ 'logins' | translate }}</a></li>
                    <li><a href="" [routerLink]="['/home/register']">{{ 'registers' | translate }}</a></li>-->

                </ul>
                <!--footer_ul_amrc ends here-->
            </div>


            <div class=" col-md-3 col-two">
                <h5 class="headin5_amrc col_white_amrc pt2">SUPERS RENT</h5>
                <!--headin5_amrc ends here-->
                <ul class="footer_ul_amrc">

                    <li><a href="">About Us</a></li>
                    <li><a href="">Contact Us</a></li>

                </ul>

                <!--footer_ul2_amrc ends here-->
            </div>


            <div class=" col-md-3 col-two">
                <h5 class="headin5_amrc col_white_amrc pt2">CONTACT US</h5>
                <!--headin5_amrc

                <p><i class="fa fa-location-arrow mr-2"></i>{{ 'nameCom' | translate }} ​</p>
                <p class="ml-4">{{ 'address' | translate }} </p>
                <p class="ml-4"> {{ 'distrit' | translate }} </p>
                <p class="ml-4">{{ 'amphor' | translate }} </p>
                <p class="ml-4">{{ 'changwat' | translate }} </p>
                -->
                <p><i class="fa fa-phone mr-2"></i> 094-303-4999 </p>
                <p><i class="fa fa fa-envelope mr-2"></i> herejong.com@gmail.com </p>


            </div>
        </div>
    </div>


    <div class="container">

        <ul class="social_footer_ul">
            <li><a href=""><i class="	fa fa-facebook-square"></i></a></li>
            <li><a href=""><i class="	fa fa-twitter-square"></i></a></li>

            <li><a href=""><i class="	fa fa-instagram"></i></a></li>
        </ul>

        <ul class="foote_bottom_ul_amrc">
            <li><a href="" [routerLink]="['/privacy-policy']">นโยบายความเป็นส่วนตัว</a></li>
            <li><a href="" [routerLink]="['/terms-of-use']">ข้อกำหนดและเงื่อนไข</a></li>
        </ul>


        <ul class="foote_bottom_ul_amrc">
            <li>
                <p class="text-center">Copyright @2020 | Designed With by <a href="#">HereJong.com</a></p>
            </li>

        </ul>



    </div>

</footer>